* {
    /* Border box give padding to the navbar */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    border-bottom: 15px solid grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header text styling */

header a {
    color: white;
    text-decoration: none;
}

/* Floats nav to the right */

header nav {
    float: right;
    padding-top: 20px;
}

h1 span, h2 span {
    color: grey;
}

/* Styles anchor tags */

li a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

/* Displays nav inline (Default Block) */

li {
    display: inline;
}

main {
    position: absolute;
}

footer {
    /* moves fotter to the bottome of the page (absolute) */
    position: fixed;
    /* Spans the footer the full length of the website */
    width: 100%;
    border-top: 15px solid grey;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    text-align: center;
    bottom: 0;
}

footer h2 {
    font-size: 20px;
    color: white;
}