/* Main CSS */

* {
    margin: 0;
}

nav {
    /* Aligns text to the right side of the header */
    text-align: right;
}

/* Styles anchor tags */

li a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

/* Displays nav inline (Default Block) */

li {
    display: inline;
}

header {
    /* Keeps the header at the top of the page */
    position: fixed;
    /* Spans the header over the entire website page */
    width: 100%;
    padding: 20px;
    border-bottom: 15px solid lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    color: white;
}

/* Header text styling */

header a {
    color: white;
    text-decoration: none;
}

footer {
    /* moves fotter to the bottome of the page (absolute) */
    position: fixed;
    /* Spans the footer the full length of the website */
    width: 100%;
    border-top: 15px solid lightgrey;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    text-align: center;
    bottom: 0;
}

footer h2 {
    font-size: 20px;
    color: white;
}