/* Main CSS */

* {
    margin: 0;
}

/* Header CSS */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgrey;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgrey;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Keith's CSS */


/* Daniel's CSS */
